doctype html
html
    head
        title gs-barkode-scanner
        meta(name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no')
        link(rel='stylesheet', type='text/css' href='style.css')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/quagga/0.12.1/quagga.js')
        script( async defer src='https://apis.google.com/js/api.js', onload='connect()', onreadystatechange='if (this.readyState === "complete") onload()')
    body   
        #scanner
            #scanline
            #interactive.viewport
            .title RESULTS
            #results
        #popup.full-screen
          h3 SPREADSHEET
          select#spreadsheets(onchange='getSheets()')
          br
          select#sheets(style='display:none')
          h3 STOCK
          input#item(type='text', placeholder='barkodas')
          br
          input#qty(type='number', onkeyup='view.accept(event)', placeholder='kiekis')
          .footer
            button#back(onclick='view.back()') CANCEL
            button#submit(onclick='view.submit()' disabled) SUBMIT
        script(src='main.js')
        script(src='connect.js')
        